myuserproject/credentials.json
myuserproject/terraform.tfstate
myuserproject/terraform.tfstate.backup
myuserproject/.terraform/plugins/selections.json
myuserproject/.terraform/plugins/registry.terraform.io/hashicorp/google/3.50.0/linux_amd64/terraform-provider-google_v3.50.0_x5
